<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Scratch - A Premium Clothing App</title>
  <link rel="stylesheet" href="/stylesheets/account.css" />
</head>
<body>
    <h1 style="text-align: center;">Account Details </h1>
  <div class="account-container">
    <div class="profile-image">
      <img src="/images/profile.png" alt="Profile Picture" />
    </div>
    <div class="user-details">
      <h2><%= name %></h2>
      <p>Email: <%= email %></p>
    </div>
  </div>
</body>
</html>
